<div class="container" id="main">
	<div class="d-flex">
		<div id="message">
			<div class="text-center h3"> Merci pour votre réponse :)</div>
			<div class="text-center">
				<a routerLink="" class="btn btn-link">Notre site</a>
			</div>
		</div>
	</div>
</div>