<app-nav></app-nav>
<div class="container" id="main">
	<h1>Créer un nouveau sondage</h1>
	<form method="POST">
		<div class="form-group">
			<label for=#intitule>Intitulé du sondage</label>
			<input #intitule placeholder="intitulé" class="form-control" aria-describedby="intituleHelp">
			<small id="intituleHelp" class="form-text text-muted">
				L'intitulé est le nom public du sondage.
			</small>
		</div>
		<button (click)="creerSondage(intitule.value)" type="submit" class="btn btn-primary">Créer</button>
	</form>
</div>
