<div class="container" id="main">
	<div class="row">
		<div id="reponse" class="col-12">
			<h1 class="text-center">{{ intitule }}</h1>
			<form #f="ngForm" (ngSubmit)="onSubmit(f)" id="reponse-form">
				<div *ngFor="let question of questions; let i = index" class="form-row">
					<h2 class="w-100 text-center">{{ question.intitule }}</h2>
					<div class="text-center col-12">
						<div class="form-group text-center d-inline-block">
							<div class="form-check form-check-inline">
								<input class="form-check-input" type="radio" value="1" (click)="enableSendInc(i)" id="yes{{ question.number }}" name="question{{ i }}" ngModel>
								<label class="form-check-label" for="yes{{ question.number }}">Oui</label><br />
							</div>
						</div>
						<div class="form-group text-center d-inline-block">
							<div class="form-check form-check-inline">
								<input class="form-check-input" type="radio" value="0" (click)="enableSendInc(i)" id="no{{ question.number }}" name="question{{ i }}" ngModel />
								<label class="form-check-label" for="no{{ question.number }}">Non</label>
							</div>
						</div>
					</div>
				</div>

				<div>
					<input type="hidden" value="{{ questions.length }}" name="length" ngModel />
				</div>
				<div class="text-center">
					<button class="btn btn-primary" [disabled]="!enableSend()" type="submit">Envoyer</button>
				</div>
			</form>
		</div>
	</div>
</div>