<app-nav></app-nav>
<div id="main" class="container">
	<div *ngIf="status==1;else sondageInvalide" class="row">
		<h1 class="col-12 text-center">Sondage : {{ sondage.intitule }} </h1>

		<div *ngIf="chart" class="col-12">
			<canvas id="canvas">{{ chart }}</canvas>
		</div>

		<div class="col-12 text-center mb-3">
			<button class="btn btn-primary mr-2" (click)="onType('pie')">Pie chart</button>
			<button class="btn btn-success mr-2 d-md-inline-block d-none" (click)="onType('bar')">Bar chart</button>
			<button class="btn btn-danger" (click)="onType('doughnut')">Doughnut chart</button>
		</div>

		<div class="col-12 text-center">Totalde réponse : {{ total }}</div>
	</div>
	<ng-template #sondageInvalide>
		<div>
			<div *ngIf="status==2;else sondageNonPublie">
				le sondage n'exite pas
			</div>
			<ng-template #sondageNonPublie>
				<div *ngIf="status == 3; else sondageNonTermine">
					le sondage n'est pas publié
				</div>
				<ng-template #sondageNonTermine>
					Le sondage n'est pas terminé
				</ng-template>
			</ng-template>
		</div>
		<a routerLink="/list">cliquez ici</a>
	</ng-template>
</div>
