<app-nav></app-nav>
<div class="container d-flex" id="main">
<div classs="row">
    <form class="col-12 form-row">
      <div class="input-group col-12" id="search">
          <input class="form-control" name="search" [(ngModel)]="search" ngModel placeholder="Rechercher un sondage par nom">
      </div>
      <div class="input-group col-12 mt-2">
          <button (click)="getSondages()" type="submit" class="btn btn-primary">Recherche</button>
      </div>
    </form>


    <div class="col-12" id="liste">
      <ul class="list-group list-group-flush text-center">
        <li class="list-group-item col-md-6 col-4" *ngFor="let sondage of sondages">
          <a href='reponse/{{ sondage.id }}'>{{sondage.intitule}}</a>
        </li>
      </ul>
    </div>

    <nav aria-label="Pagination" id="pagination" class="col-12">
      <ul class="pagination" id="btn-next-left">
        <li class="page-item">
          <button class="btn btn-link" (click)="previous()" type="submit">Précédent</button>
        </li>
        <li class="page-item">
          <button class="btn btn-link"(click)="next()" type="submit">Suivant</button>
        </li>
      </ul>
    </nav>
  </div>
</div>
