<app-nav></app-nav>
<div class="container" id="main">
  <div class="d-flex flex-column justify-content-center">
    <div>
      <h2>Poll It Yourself</h2>
      <div class="lead">
        <p>L'application de sondage permettant de donner votre avis sur des sujets sensibles de manière complètement sécurisé.</p>
      </div>
    </div>
    <div>
      <h2>Sondages cas-témoins</h2>
      <div class="lead">
        <p>
          Permet d'obtenir la corrélation entre un attribut porter par un groupe (les cas) comparer à un groupe témoins.<br>
          Exemple : obtenir la corrélation entre le fait de fumer (témoins) et avoir le cancer du poumon (cas).
        </p>
      </div>
    </div>
    <div>
      <h2>Sondages sécurisé</h2>
      <div class="lead">
        <p>
          Notre application permet de garantir la confidentialité des réponses des sondés.<br>
          Votre réponse reste entre vous et vous seul.<br>
          Il est impossible, à la fois pour nous (Poll It Yourself) et pour le sondeur de connaître votre réponse.
        </p>
      </div>
    </div>
    <div class="container">
      <button type="button" class="btn btn-primary" (click)="onCreateClick()">
        Créer un sondage
      </button>
      <button type="button" class="btn btn-primary" (click)="onListClick()">
        Lister les sondages actifs
      </button>
    </div>
  </div>
</div>
