<app-nav></app-nav>
<div *ngIf=sondage class="container" id="main">
  <div class="form-group" id="form" class="col-sm-offset-2 col-sm-10">
    <h1>Editer le sondage {{ sondage.intitule }}</h1>
    <!-- Gestion des questions -->
    <h3>Ajouter des questions au sondage</h3>
    <div *ngFor="let question of questions">
      {{ question.intitule }}
      <div *ngIf=!sondage.publie>
        <button (click)=remQuestion(question.id) class="btn btn-primary">Supprimer</button>
      </div>
    </div>
    <form *ngIf="!sondage.publie">
      <label for="questionintitule">Nouvelle question:</label>
      <input #questionintitule placeholder="intitule">
      <button (click)=ajoutQuestion(questionintitule) class="btn btn-default">Ajouter</button>
    </form>
  </div>


  <div class="container" id="boutons">

      <h2>Actions sur le sondage</h2>
      <div>
        <div *ngIf="!sondage.publie; else npublie" class="btn-group btn-group-justified">
          <button (click)=publish() [disabled]="!enablePublish()" class="btn btn-primary">Publier </button>
        </div>
        <ng-template #npublie>
          Publié
        </ng-template>

        <div *ngIf="!sondage.termine; else ntermine" class="btn-group btn-group-justified">
          <button (click)=terminate() [disabled]="!sondage.publie" class="btn btn-primary">Terminer</button>
        </div>
        <ng-template #ntermine>
          Terminé : <a routerLink="/sondage/{{sondage.id}}">Accès aux réponses</a>
        </ng-template>

        <div class="btn-group btn-group-justified">
          <button (click)=supprime() class="btn btn-primary">Supprimer</button>
        </div>
      </div>

      <div *ngIf="sondage.publie && !sondage.termine">
        <div>
          <h4>Partage du sondage</h4>
          <div class="mt-md-6" id="qr">
            <qrcode [qrdata]="reponseURL()" [size]="256" [level]="'M'" usesvg></qrcode>
          </div>
          <div class="mt-md-4">
            <a href="{{ reponseURL() }}">{{ reponseURL() }} </a>
          </div>
        </div>
        <div>
          Actuellement : {{ sondage.nagreg }} réponses au sondage
        </div>
      </div>
  </div>

  <div class="container" id="cles">
    <!-- Gestion des clés de chiffrement -->
    <h3>Gestion des clés de chiffrement</h3>
    <div *ngIf="keys.n != null;else nokeys">
      <div>
        <h6>Clé publique</h6>
        <textarea>{{ keys.n }}</textarea>
      </div>
      <div>
        <h6>Clé privée</h6>
        <textarea>{{ keys.lmbda }}</textarea>
      </div>
    </div>
    <ng-template #nokeys>
      Ce sondage ne comporte aucune clé de chiffrement, veillez en générer de nouvelles.
    </ng-template>
    <div *ngIf="!sondage.publie">
      <input [(ngModel)]="keys.size" type="number">
      <button (click)=genKeys() class="btn btn-default">Générer les clés de chiffrement</button>
    </div>
  </div>
</div>
