<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top" role="navigation">
	<a href="#" class="navbar-brand">Poll-it-Yourself</a> 
	<button class="navbar-toggler" type="button" (click)="isCollapsed = !isCollapsed" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse justify-content-end" [collapse]="isCollapsed" id="navbarNav">
		<ul class="navbar-nav">
			<li class="nav-item">
				<a class="nav-link" routerLink="/home">Accueil</a>		
			</li>
			<li class="nav-item">
				<a class="nav-link" routerLink="/dashboard">Tableau de bord</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" routerLink="/create">Créer un sondage</a>
			</li>
		</ul>
	</div>
</nav>