<app-nav></app-nav>
<div class="container" id="dashboard">

  <h1 class="text-center">Bonjour, que voulez-vous faire ? :)</h1>
  <div class="row" id="main">
    <div class="col-md-4 d-md-flex d-none" id="create">
      <div id="new-poll">
        <div class="d-flex">
          <a routerLink="/create" class="d-flex bg-primary" id="add"><span class="oi oi-plus h1 d-block text-white" id="add-img"></span></a>
        </div>
        <div class="text-center mt-2">
          <a routerLink="/create" class="h3 text-primary">Créer un sondage</a>
        </div>
      </div>
    </div>

    <div class="d-md-none d-block container w-75 mb-3">
      <div class="d-flex justify-content-center col-12 pb-3" id="responsive-create">
        <div>
          <a class="btn btn-primary" routerLink="/create">Créer un sondage</a>
        </div>
      </div>
    </div>

    <div class="col-md-8 col-12">

      <div class="mt-md-3">
        <app-liste-sondage></app-liste-sondage>
      </div>
    </div>
  </div>
</div>
