#dashboard {
	padding-top: 10vh;
	min-height: 100vh;
}

#main {
	margin-top: 5vh;
}

#create {
	border-right: 1px solid black;
}

#responsive-create {
	justify-content: center;
	border-bottom: 1px solid black;
}

#add {
	border: 1px solid rgb(0,128,251);
	border-radius: 50%;
	height: 100px;
	width: 100px;
	margin: auto;
	margin-bottom: 5vh;
}

#add:hover {
	text-decoration: inherit;
}

#add-img {
	margin: auto;
}

#new-poll {
	margin: auto;
}